.main__phone {
    color: #e65717;
    font-weight: var(--font-weightHeadPhone);
    font-style: normal;
    margin-top: var(--marginTopTitle);
}

.feedback__wrap {
    display: flex;
}

.feedback__container-left {
    width: 40%;
    margin: 0;
    margin-right: 20px
}

.feedback__container-right {
    width: 60%;
    min-height: 600px;
    margin-right: 20px;
    background: url('./image/fon2.jpg');
    filter: opacity(70%);
    box-shadow: 0 0 8px 8px rgb(221, 223, 221) inset
}

.feedback__title {
    margin-bottom: 25px;
}


.feedback__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, minmax(50px, auto));
    ;
    gap: 15px;
    align-items: center;
    justify-items: center;
}

.feedback__card1,
.feedback__card2,
.feedback__card3,
.feedback__card4 {
    display: block;
    text-align: center;
    width: 70%;
}

.card {
    display: block;
    min-height: 30px;
    border: solid 2px black;
    border-radius: 25px;
}

.card__img {
    border-bottom: solid 1px black;
    text-align: left;
}

button {
    border: 0;
    background: none;
}

.card__about {
    margin: 15px;
}

.card__title {
    text-align: center;
}

.card__text {
    padding-top: 25px;
    text-align: justify;
}

#card-1 {
    transform: rotate(-5deg);
}

#card-2 {
    transform: rotate(5deg);
}

#card-3 {
    transform: rotate(-5deg);
}

#card-4 {
    transform: rotate(4deg);
}







.hr-line {
    margin-top: var(--marginTOP);
}

.grad {
    border: 0;
    height: 2px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}





.ati__wrap {
    display: flex;
}

.ati__wrap-left {
    width: 55%;
    margin-right: 20px;
}

.ati__wrap-right {
    width: 45%;
    margin-left: 20px;
}

.ati__png {
    width: 100%;
    padding: 15px;
    margin-top: var(--marginTopTitle);
    border: solid 10px;
    border-color: #C5C5C5;
    padding: 10px;
}

.ati__png img {
    width: 100%;
}


.popup {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-align: center;
}


.popup__window {
    margin-top: var(--marginTOP);
    display: block;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0px 5px 17px 2px rgba(34, 60, 80, 0.2) inset;
    border-radius: 25px;
    border: solid 1px;
    width: 70%;
    min-height: 400px;
    overflow-y: auto;
}

.popup__title {
    margin-top: var(--marginTopTitle);
    padding: 0 20px;
}

.popup__mail,
.popup__textarea {
    margin-top: 60px;
}






.popup__mail-wrap {
    position: relative;
    display: inline-block;
    width: 70%;
}

.popup__input-mail {
    width: 100%;
    position: relative;
    border: none;
    border-bottom: solid 1px;
    border-color: #6b6b6b
}


.popup__label-mail {
    position: absolute;
    top: 2px;
    left: 2px;
    color: #6b6b6b;
    transform-origin: left;
    font-size: 16px;
    transition: top 0.5s, transform 0.5s, color 0.5s;
}



.flamp__wrap {
    display: flex;
    justify-content: center;
}


.popup__textarea-wrap {
    position: relative;
    display: inline-block;
    width: 70%;
}

.popup__textarea-input {
    width: 100%;
    min-height: 250px;
    resize: none;
    overflow-y: auto;
    border-bottom: solid 1px;
    border-color: #6b6b6b;
}

.popup__textarea-label {
    position: absolute;
    top: 0px;
    left: 2px;
    color: #6b6b6b;
    transform-origin: left;
    font-size: 16px;
    transition: top 0.5s, transform 0.5s, color 0.5s;
}



.popup__input-mail:focus+.popup__label-mail,
.popup__input-mail:not(:focus):valid+.popup__label-mail,
.popup__textarea-input:focus+.popup__textarea-label,
.popup__textarea-input:not(:focus):valid+.popup__textarea-label {
    top: -18px;
    transform: scale(0.85);
    color: #333;
}

.popup__btn {
    display: inline-block;
    margin-top: 40px;
    border: solid 2px black;
    background-color: #e65717;
    border-radius: 20px;
    padding: 10px 20px;
}

.popup__btn:hover {
    transform: scale(1.2);
    transition: all 1s;
    cursor: pointer;
}

.ati-mobile {
    display: none;
}

.flamp__feedback {
    width: 100%;
    margin-top: var(--marginTopTitle);
    border: solid 10px;
    border-color: #C5C5C5;
    padding: 10px;
}



#hr-line-end {
    display: none;
}



@media (max-width:1550px) {
    .feedback__title {
        margin-bottom: 100px;
    }

    .feedback__card1,
    .feedback__card2,
    .feedback__card3,
    .feedback__card4 {
        display: block;
        text-align: center;
        width: 85%;
    }

    .popup__window {
        width: 85%;
    }

    .popup__mail,
    .popup__textarea {
        margin-top: 40px;
    }

    .popup__mail-wrap {
        width: 85%;
    }

    .popup__textarea-wrap {
        width: 85%;
    }

    .popup__textarea-input {
        min-height: 150px;
    }

    .popup__btn {
        margin: 20px 0;
    }
}

@media (max-width:1250px) {
    .feedback__title {
        margin-bottom: 50px;
    }

    .feedback__wrap {
        display: flex;
        flex-direction: column;
    }

    .feedback__container-left {
        margin: 0;
    }

    .feedback__container-right {
        margin: 0;
        margin-top: var(--marginTOP);
        width: 100%;
        min-height: 650px;
    }

    .feedback__container-left {
        width: 100%;
        max-height: 220px;
        overflow-y: auto;
    }

    .ati__wrap-left {
        margin-top: 70px;
    }

}

@media (max-width:930px) {
    /* #card-2 {
        left: 380px;
    }

    #card-3 {
        top: 500px;
    }

    #card-4 {
        left: 375px;
    } */

    .ati__wrap-right {
        display: none;
    }

    .ati__wrap-left {
        width: 100%;
        margin-top: 0;
    }

    .ati-mobile {
        display: block;
    }

    .ati-mobile .ati__wrap {
        justify-content: center;
    }

    .ati-mobile .ati__wrap-left {
        display: none;
    }

    .ati-mobile .ati__wrap-right {
        width: 100%;
        display: flex;
    }

    .popup__window {
        width: 100%;
        min-height: 200px;
    }

    .popup__mail,
    .popup__textarea {
        margin-top: 15px;
    }

    .popup__mail-wrap {
        width: 90%;
    }

    .popup__textarea-wrap {
        width: 90%;
    }

    .popup__textarea-input {
        min-height: 100px;
    }

    .popup__btn {
        margin: 15px 0;
    }

    .flamp__wrap {
        width: 100%;
        text-align: center;
    }

    .flamp__wrap img {
        width: 100%;
    }

    #hr-line-end {
        display: block;
    }

    .ati-mobile .hr-line {
        display: none;
    }
}

@media (max-width:750px) {
    .feedback__wrap {
        display: block;
        height: 400px;
        overflow-y: scroll;
    }

    .feedback__card1,
    .feedback__card2,
    .feedback__card3,
    .feedback__card4 {
        width: 100%;
        margin-bottom: 25px;
    }



    .feedback__container {
        row-gap: 0px;
        display: block;
        text-align: center;
        padding: 0 15px;
    }

    .feedback__container-right {
        text-align: center;
        min-height: 930px;
    }

    #card-1 {
        transform: rotate(-2deg);
    }

    #card-2 {
        transform: rotate(2deg);
    }

    #card-3 {
        transform: rotate(-1.5deg);
    }

    #card-4 {
        transform: rotate(2.5deg);
    }
}