html,
.body {
    height: 100%;
}

.wrap {

    display: grid;
    height: 100%;
    border: solid 1px;
    grid-template-rows: 50px 1fr 150px;
    grid-template-columns: 1fr 3fr;
    /* grid-template-columns: clamp (190px, 300px) 1fr; */
    grid-template-areas:
        "header header"
        "aside main"
        "footer footer";

}


.wrap header {
    /* background-color: aqua; */
    grid-area: header;
}

.wrap aside {
    /* background-color: blueviolet; */
    grid-area: aside;

}

.wrap main {
    /* background-color: brown; */
    grid-area: main;
}

.text__center {
    display: flex;
    justify-content: center;
}

.text__img-center {
    width: 35%;
    /* float:; */
    /* margin: 0 0 20px 20px; */
    border: 7px solid rgb(201, 201, 201);
    border-radius: 5px;
    padding: 7px;
    margin-top: 20px;
}

.wrap footer {
    /* background-color: chocolate; */
    grid-area: footer;
}

.author {
    font-size: calc(var(--font-sizeP)/3*2);
    margin-bottom: 15px;
}

img {
    width: 100%;

}

/* .text__wrap {
    width: 70%;
} */

.text__img-top {
    border: 7px solid rgb(201, 201, 201);
    border-radius: 5px;
    padding: 7px;
    /* margin-top: 80px; */
    margin: 20px 20px 20px 0;
    float: left;
}

.text__img-right {
    width: 35%;
    float: right;
    margin: 0 0 20px 20px;
    border: 7px solid rgb(201, 201, 201);
    border-radius: 5px;
    padding: 7px;
    margin-top: 20px;
}

.text__img-left {
    width: 35%;
    float: left;
    margin: 20px 20px 20px 0;
    border: 7px solid rgb(201, 201, 201);
    border-radius: 5px;
    padding: 7px;
    margin-top: 20px;
}

.text__img {
    width: 100%;
    float: left;
    margin: 0 20px 20px 0;
    border: 7px solid rgb(201, 201, 201);
    border-radius: 5px;
    padding: 7px;
    margin-top: 20px;
}

/* ///////////////////////////////// */

/* Стили aside */

/* ///////////////////////////////// */

ol {
    margin-top: 20px;
}

.actual {
    color: #E65717;
}

li {
    color: black;
    font-weight: normal;
}

@media (max-width:1600px) {
    .text__img-top {
        width: 30%;
    }
}

@media (max-width:900px) {
    :root {
        --margContSide: 5px 10px 0;
    }

    .text__img-top {
        width: 40%;
    }
}

@media (max-width:600px) {
    .wrap {

        grid-template-rows: 50px 200px 1fr 150px;
        grid-template-columns: 1fr;
        /* grid-template-columns: clamp (190px, 300px) 1fr; */
        grid-template-areas:
            "header"
            "aside"
            "main"
            "footer";

    }
}